@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Caveat:wght@400..700&family=Parisienne&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

.aboutme-wrapper {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between;  */
  width: 100%;
}

.experiences {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 5%;
  margin-top: 8.5%;
  position: relative;
  width: 420px;
  max-width: 100%;
}

.experience-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 1rem 2rem;
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  background-color: #f8f0fc7c;
  border: 2px solid #c583dd6c;
}

/* Dotted Line and Circle */
.experience-item::before {
  content: '';
  position: absolute;
  left: -20px;
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  background-color: #050753fa;
  border-radius: 50%;
}

.experience-item:not(:last-child)::after {
  content: '';
  position: absolute;
  left: -15px;
  top: calc(50% + 10px);
  width: 2px;
  height: calc(100% + 20px);
  background-color: #050753fa;
}

.experiences.animate .experience-item {
  animation: fadeInUpStaggered 0.8s ease-out forwards;
}

/* Add animation when the "animate" class is applied */
.experience-item.animate {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

/* Stagger animation delays for each item */
.experience-item:nth-child(1) {
  transition-delay: 0.2s;
}
.experience-item:nth-child(2) {
  transition-delay: 0.4s;
}
.experience-item:nth-child(3) {
  transition-delay: 0.6s;
}
.experience-item:nth-child(4) {
  transition-delay: 0.8s;
}
.experience-item:nth-child(5) {
  transition-delay: 1s;
}
.experience-item:nth-child(6) {
  transition-delay: 1.2s;
}
.experience-item:nth-child(7) {
  transition-delay: 1.4s;
}
.experience-item:nth-child(8) {
  transition-delay: 1.6s;
}

/* Keyframes for fade-in-up animation */
@keyframes fadeInUpStaggered {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.experience-item div {
  display: flex;
  flex-direction: column;
}

.experience-item h1 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: bold;
  color: #471268dd;
}

.experience-item p {
  margin: 0;
  color: #333;
  font-size: 0.9rem;
}

.year {
  font-weight: bold;
  color: #471268;
  font-family: 'Caveat', serif;
  margin: 0;
  padding: 0;
}

h1.year {
  width: 40px;
  font-size: 1.5rem;
}

.experience-item:hover {
  background: linear-gradient(
    135deg,
    #f8f0fce9,
    #f8f0fce9,
    #f8f0fce9,
    rgba(100, 12, 154, 0.559)
  );
  border: 2px solid #f1d5bb;
}
.experiences #ex-header {
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: 2rem;
  color: #04063a;
  margin: 0;
}

/* Add glowing animation for current position */
.experience-item.current::before {
  animation: glow-pulse 1.5s infinite;
  background-color: #ff6b6b;
}

@keyframes glow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(224, 126, 15, 0.8);
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 10px rgba(232, 152, 61, 0);
    opacity: 0.7;
  }
  100% {
    box-shadow: 0 0 0 0 rgba(238, 158, 66, 0);
    opacity: 1;
  }
}

/* Make current position stand out more */
.experience-item.current {
  background-color: #f8f0fcef;
  border: 2px solid #eb9f48;
}

.experience-item.current h1 {
  color: #ed7e24;
}

.mypic {
  width: 300px;
  margin: 0;
  border-radius: 50% 50% 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-left: 6%;
  margin-right: 1%;
}

.aboutme-container {
  padding: 20px;
  box-sizing: border-box;
  border-radius: 40px;
  width: 900px;
  max-width: 100%;
  padding: 5px 50px;
  margin-left: 0.1%;
  color: #333;
  margin-top: 100px;
}

.aboutme-container h1 {
  font-family: 'Caveat', serif;
  font-size: 9rem;
  color: #050753fa;
  padding: 0;
  margin: 0;
}

#i {
  font-family: 'Schibsted Grotesk', serif;
  font-size: 3rem;
}
.aboutme-container h2 {
  font-size: 24px;
  line-height: 1.6;
  color: #333;
}

.tech-container {
  margin-left: 6%;
  margin-right: 5%;
  overflow: hidden;
  position: relative;
  width: auto;
  white-space: nowrap;
}

.tech-container h1 {
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: 2rem;
  color: #333;
}

.tech-slider {
  display: flex;
  gap: 20px;
  animation: scroll 60s linear infinite;
  width: max-content;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.tech-slider:hover {
  animation-play-state: paused;
}

.tech-slider img {
  height: 70px;
  width: auto;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.tooltip {
  visibility: hidden;
  background-color: rgba(227, 216, 114, 0.846);
  color: #060000;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.aboutme-header {
  display: flex;
  align-items: center;
}

.aboutme-container h2 {
  margin-top: -5px;
}

.experiences-detail {
  width: 1000px;
}

.experiences-detail.hidden {
  display: none;
}
.experiences-detail.current {
  display: block;
}

/* Responsive Design */
/* Large Screens (1440px and up) */
@media (min-width: 1440px) {
  .aboutme-container {
    max-width: 800px;
    width: 100%;
  }
}

/* Medium Screens (1024px and up) */
@media (max-width: 1024px) {
  .aboutme-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .aboutme-container {
    width: 90%;
    text-align: center;
    margin-top: 20px;
  }
  .aboutme-container h1 {
    font-size: 6rem;
    margin: 0 auto;
  }
  .mypic {
    width: 300px;
    margin: 0 auto;
    margin-top: 7%;
  }

  .experiences {
    width: 80%;
  }
}

/* Tablet Screens (768px and up) */
@media (max-width: 768px) {
  .aboutme-container {
    margin-top: 20px;
  }
  .aboutme-container h1 {
    font-size: 4rem;
    margin: 0 auto;
  }

  .aboutme-container h2 {
    font-size: 24px;
  }

  .mypic {
    width: 250px;
    margin: 0 auto;
    margin-top: 7%;
  }

  .experiences {
    width: 90%;
  }

  .experience-item h1 {
    font-size: 1rem;
  }
}

/* Mobile Screens (480px and below) */
@media (max-width: 480px) {
  .aboutme-container {
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }
  .aboutme-container h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 0 auto;
  }

  .aboutme-container h2 {
    font-size: 18px;
    line-height: 1.4;
  }

  .experience-item p {
    font-size: 12px;
  }

  .experiences {
    width: 100%;
  }

  .experience-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transform: translateY(50px);
  }

  h1.year {
    font-size: 21px;
  }

  .mypic {
    width: 250px;
    margin: 0 auto;
    margin-top: 7%;
  }

  .tech-container h1 {
    margin-top: 40px;
    font-size: 1.6rem;
  }

  .experiences #ex-header {
    font-size: 1.6rem;
  }

  #i {
    font-size: 2rem;
  }
}
