.projects-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-left: 2%;
  margin-top: 3%;
}
/* Project List Section */
.project-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4%;
  position: relative;
  max-width: 300px;
  width: 100%;
}

.project-list h1 {
  font-family: 'Space Mono', serif;
  color: #333;
}

.project-list ul {
  list-style: none;
  padding: 10px;
}

.project-list li {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  margin-bottom: 15px;
}

/* Dotted Circle */
.project-list li::before {
  content: '';
  position: absolute;
  left: 10px;
  top: calc(50% - 6px);
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
}

/* Connecting Line */
.project-list li:not(:last-child)::after {
  content: '';
  position: absolute;
  left: calc(10px + (12px / 2));
  top: calc(50% + (12px / 2));
  width: 2px;
  height: calc(100% - (16px / 2));
  background-color: #333;
}

/* Active Project Styling */
.project-list li.active {
  font-weight: bold;
  font-family: 'Caveat', serif;
  font-size: 2.5rem;
  color: rgb(18, 59, 18);
  margin-bottom: 15px;
}

.project-list li.active::before {
  background-color: rgba(82, 55, 171, 0.57);
  box-shadow: 0px 0px 5px 8px #c6e08a;
}

.project-list li.active:hover {
  color: rgb(18, 59, 18);
  background-color: transparent;
  border-right: transparent;
}

.project-list li:hover {
  color: #333;
  font-weight: bold;
}

.project-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1000px;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  margin-top: 5.6%;
  min-height: 800px;
  height: 100%;
  margin-right: 50px;
}

.project-detail.active-project {
  background: rgba(94, 146, 94, 0.162);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.carousel-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.carousel button {
  position: absolute;
  top: 50%;
  /* transform: translateY(100%); */
  transform: translateX(-60%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
  z-index: 20;
}

.carousel button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.carousel button.prev {
  left: calc(787 * var(--button-width));
}

.project-link {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.project-link button {
  background: rgb(26, 82, 26);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background 0.3s;
}

.project-link button:hover {
  background: rgb(17, 50, 17);
}

.project-image {
  width: 100%;
  max-width: 600px;
  max-height: 500px;
  height: 100%;
  object-fit: contain;
  background-color: transparent;
  border-radius: 20px;
  margin-top: -20px;
}

.project-detail h2 {
  font-family: 'Caveat', serif;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  color: rgb(18, 59, 18);
  background: rgba(94, 146, 94, 0.494);
  width: 100%;
  margin-top: 1.5%;
}

.project-detail p {
  color: #393535;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  /* border-radius: 8px; */
  margin-top: -15px;
}

.tech-list li {
  list-style: none;
  padding: 5px 12px;
  background: rgba(13, 56, 13, 0.494);
  color: rgb(237, 224, 224);
  font-size: 14px;
}

@media (max-width: 1440px) {

  .project-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4%;
    position: relative;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 100;
  }

  .project-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .project-list li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--main-color);
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
    margin: 0.5rem;
    white-space: nowrap;
  }

  .project-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
  }

  /* Removed the connecting line ::after pseudo-element */
  .project-list li:not(:last-child)::after {
    display: none; /* Hide connecting lines */
  }

  .project-list li:hover {
    color: #333;
    /* background-color:rgba(94, 146, 94, 0.098); */
    font-weight: bold;
  }

  .project-list h1 {
    margin-top: 5%;
  }

  .project-detail {
    margin-top: -2%;
  }
}

@media (max-width: 1024px) {
  .project-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4%;
    position: relative;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 100;
  }

  .project-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .project-list li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--main-color);
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
    margin: 0.5rem;
    white-space: nowrap;
  }

  .project-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
  }

  /* Removed the connecting line ::after pseudo-element */
  .project-list li:not(:last-child)::after {
    display: none;
  }

  .project-list li:hover {
    color: #333;
    font-weight: bold;
  }

  .project-list h1 {
    margin-top: 2%;
  }
}

@media (max-width: 768px) {
  .project-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4%;
    position: relative;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    box-sizing: border-box;
  }

  .project-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .project-list li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--main-color);
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
    margin: 0.5rem;
    white-space: nowrap;
  }

  .project-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
  }

  .project-list li:not(:last-child)::after {
    display: none;
  }

  .project-list li:hover {
    color: #333;
    /* background-color:rgba(94, 146, 94, 0.098); */
    font-weight: bold;
  }
  .project-list h1 {
    margin-top: 2%;
  }
}

@media (max-width: 480px) {
  .projects-container {
    padding: 0;
  }

  .project-list {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
  }

  .project-list h1 {
    margin-top: 2%;
  }
  .project-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .project-list li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--main-color);
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
    margin: 0.5rem;
    white-space: nowrap;
  }

  .project-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
  }

  .project-list li:not(:last-child)::after {
    display: none;
  }

  .project-list li:hover {
    color: #333;
    font-weight: bold;
  }

  .project-detail.active-project {
    margin-right: 20px;
  }

  .tech-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
  }
}
