@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
  
.navbar-right {
    margin-left: 300px;
}
  
.navbar-right a {
    margin-right: 20px;
    text-decoration: none;
    color: #7b4f31;
    font-family: "Grandstander", serif;
    font-optical-sizing: auto;
    font-size: 22px;
    font-weight: bold;
}
  
.navbar-mid img {
    height: 160px;
}
  
.navbar-left a {
    margin-left: 25px;
}
  
.navbar-left {
    margin-right: 300px;
    margin-left: 120px;;
}
  
a > img:hover {
    box-shadow: 0px 4px 30px rgba(45, 42, 6, 0.793);
    transition: box-shadow 0.3s ease-in-out;
}
  
#github {
    border-radius: 50%;
    height: 40px;
}
  
a:hover {
    text-decoration: underline;
    font-weight: bolder;
    color: #402d21;
}

a.active {
    font-weight: bolder;
    text-decoration: underline;
    color: #402d21;
}
  
a {
    text-decoration: none;
}
  
.tooltip {
  visibility: hidden;
  background-color: #3333331e;
  color: #151414;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
}

/* media queries for responsiveness */

/* 1400px */
@media (max-height: 1400px) {
    .navbar {
      padding: 10px 15px; 
    }
  
    .navbar-right {
      margin-left: 300px; 
    }
  
    .navbar-left {
      margin-right: 300px; 
    }
  
    .navbar-right a {
      margin-right: 20px; 
    }
  
    .navbar-mid img {
        height: 120px;
        /* margin-left: 20px; */
    }
  }
  
  @media (max-width: 1300px) {
    .navbar {
      padding: 10px 15px; 
    }
  
    .navbar-right {
      margin-left: 150px; 
    }
  
    .navbar-left {
      margin-right: 150px; 
    }
  }


  /* phone and tablet */
  @media (max-width: 1200px) {
    .navbar-right {
      margin-left: 140px;
    }
  
    .navbar-left {
      margin-right: 140px;
    }
    .navbar-mid img {
        height: 100px;
        margin-left: 20px;
    }
    .navbar-right a {
      margin-right: 20px; 
    }
  }

  @media (max-width: 1150px) {
    .navbar-right {
      margin-left: 120px;
    }
  
    .navbar-left {
      margin-right: 120px;
    }
    .navbar-right a {
      margin-right: 20px; 
    }
  }
  
  @media (max-width: 900px) {
    .navbar-right p {
      margin-left: -10px;
      display: flex;
      flex-direction: column;
    }
  
    .navbar-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-left: 80px;
      margin-top: 10px;
    }
    .navbar-mid img {
        height: 100px;
        margin-left: 20px;
    }
    .navbar-right a {
      margin-right: 18px; 
    }
  }

  /* phones in portrait mode */
  @media (max-width: 480px) {
    .navbar-right a {
      font-size: 0.875rem;
    }
    .navbar-mid img {
        height: 80px;
        margin-left: 10px;
    }
  }
  