@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

/* Hide navbar with a smooth transition */
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  max-width: 1300px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
}

/* Navbar กลาง */
.navbar-mid img {
  height: 140px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  /* gap: 15px; */
}

.navbar-left {
  gap: 15px;
}

/* Navbar ขวา */
.navbar-right {
  background-color: rgba(240, 240, 239, 0.195);
  padding: 5px 30px;
  border-radius: 50px;
  padding-left: 45px;
}

.navbar-right a,
.navbar-left a {
  text-decoration: none;
  color: #02152b;
  font-family: 'Grandstander', serif;
  font-size: 22px;
  margin-right: 20px;
}

/* GitHub Icon */
#github,
#github1 {
  border-radius: 50%;
  height: 40px;
}

/* Hover Effect */
a:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: #520f63;
}

/* Active Link */
a.active {
  font-weight: bolder;
  text-decoration: underline;
  color: #09303e;
}

/* Tooltip */
.tooltip {
  visibility: hidden;
  background-color: rgba(240, 240, 239, 0.315);
  color: #000;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
}

/* Responsive Design */
/* Laptop (MacBook 14-16") */
@media screen and (max-width: 1440px) {
  .navbar {
    max-width: 1200px;
    padding: 10px 3%;
  }
  .navbar-mid img {
    height: 120px;
  }
  .navbar-right a,
  .navbar-left a {
    font-size: 18px;
  }
  .navbar-right {
    margin: 0 auto;
  }
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding-right: 10px;
    position: relative;
  }

  .navbar-mid {
    order: -1;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .navbar-mid img {
    height: 100px;
  }
  .navbar-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-top: 2%;
    margin-left: 5%;
  }
  .navbar-right {
    margin: 0 auto;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding-right: 10px;
    position: relative;
  }

  .navbar-mid {
    order: -1;
    position: absolute;
    right: 1px;
    top: 50px;
    /* left: 10px; */
  }

  .navbar-mid img {
    height: 60px;
  }

  .navbar-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    margin-top: 7%;
    margin-left: 5%;
  }

  .navbar-right {
    margin: 0 auto;
    /* margin-left: -15px; */
    font-size: 10px;
    width: auto;
    padding: 15px 20px;
    margin-top: 20px;
  }

  .navbar-right p {
    font-size: 4px;
  }

  .tooltip {
    display: none;
  }

  .navbar-left img {
    height: 28px;
    width: 30px;
    margin-right: -20px;
    object-fit: contain;
  }
}
